CurrencyChecker/CurrencyChecker.xcworkspace/xcuserdata/Rafal.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
CurrencyChecker/Pods/AFNetworking/LICENSE
CurrencyChecker/Pods/AFNetworking/README.md
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFHTTPSessionManager.h
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFHTTPSessionManager.m
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFNetworking.h
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFNetworkReachabilityManager.h
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFNetworkReachabilityManager.m
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFSecurityPolicy.h
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFSecurityPolicy.m
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFURLRequestSerialization.h
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFURLRequestSerialization.m
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFURLResponseSerialization.h
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFURLResponseSerialization.m
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFURLSessionManager.h
CurrencyChecker/Pods/AFNetworking/AFNetworking/AFURLSessionManager.m
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/AFAutoPurgingImageCache.h
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/AFAutoPurgingImageCache.m
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/AFImageDownloader.h
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/AFImageDownloader.m
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.h
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.m
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.h
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.m
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.h
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.m
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIImage+AFNetworking.h
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.h
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.m
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIKit+AFNetworking.h
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.h
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.m
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.h
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.m
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.h
CurrencyChecker/Pods/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.m
CurrencyChecker/Pods/Headers/Private/AFNetworking/AFAutoPurgingImageCache.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/AFHTTPSessionManager.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/AFImageDownloader.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/AFNetworkActivityIndicatorManager.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/AFNetworking.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/AFNetworkReachabilityManager.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/AFSecurityPolicy.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/AFURLRequestSerialization.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/AFURLResponseSerialization.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/AFURLSessionManager.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/UIActivityIndicatorView+AFNetworking.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/UIButton+AFNetworking.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/UIImage+AFNetworking.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/UIImageView+AFNetworking.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/UIKit+AFNetworking.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/UIProgressView+AFNetworking.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/UIRefreshControl+AFNetworking.h
CurrencyChecker/Pods/Headers/Private/AFNetworking/UIWebView+AFNetworking.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/AFAutoPurgingImageCache.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/AFHTTPSessionManager.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/AFImageDownloader.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/AFNetworkActivityIndicatorManager.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/AFNetworking.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/AFNetworkReachabilityManager.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/AFSecurityPolicy.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/AFURLRequestSerialization.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/AFURLResponseSerialization.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/AFURLSessionManager.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/UIActivityIndicatorView+AFNetworking.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/UIButton+AFNetworking.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/UIImage+AFNetworking.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/UIImageView+AFNetworking.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/UIKit+AFNetworking.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/UIProgressView+AFNetworking.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/UIRefreshControl+AFNetworking.h
CurrencyChecker/Pods/Headers/Public/AFNetworking/UIWebView+AFNetworking.h
CurrencyChecker/Pods/Pods.xcodeproj/xcuserdata/Rafal.xcuserdatad/xcschemes/AFNetworking.xcscheme
CurrencyChecker/Pods/Target Support Files/AFNetworking/AFNetworking-dummy.m
CurrencyChecker/Pods/Target Support Files/AFNetworking/AFNetworking-prefix.pch
CurrencyChecker/Pods/Target Support Files/AFNetworking/AFNetworking.xcconfig
